<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>insert page</title>
</head>
<body>
    <h1>할일 추가 입력 insert page</h1>
    <hr/>

    <form method="post">
        <fieldset>
            <legend>edit data</legend>
            <table>
                <tr>
                    <td><label>ID</label></td>
                    <td><input type="text" name="id" value="<%= data.id%>" disabled></td>
                </tr>
                <tr>
                    <td><label>Name</label></td>
                    <td><input type="text" name="contents" value="<%= data.contents%>"></td>
                </tr>
                <tr>
                    <td><label>Yesno</label></td>
                    <td><input type="text" name="yesno" value="<%= data.yesno%>"></td>
                </tr>
            </table>
            <input type="submit" />
        </fieldset>
    </form>
</body>
</html>